<a href="https://colab.research.google.com/github/LH-1169213/Equipo3/blob/main/MNA_IAyAA_semana_10_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 10**
###**Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

*   Samara García González A01273001
*   Laura Elena Hernández Mata A01169213
*   Evelyn Aylin Rendon Medina A01748750
*   Emmanuel González Calitl A01320739
*   Carlos Enrique Diaz Ayala A01793816

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [36]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD

#**Ejercicio-1.**

In [45]:
#rating_final.csv
df_ratingfinal = pd.read_csv("https://raw.githubusercontent.com/LH-1169213/Equipo3/main/rating_final.csv")
df_ratingfinal.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [47]:
#Obteniendo datos de valor del archivo rating_final.csv
UserID = np.array(df_ratingfinal[['userID']]).flatten()
print(UserID.shape)
rating = np.array(df_ratingfinal[['rating']]).flatten()
print(rating.shape)

(1161,)
(1161,)

In [48]:
# u'\xe9'.encode('latin-1')

#geoplaces2.csv
df_geoplaces = pd.read_csv("https://raw.githubusercontent.com/LH-1169213/Equipo3/main/geoplaces2.csv", encoding = "latin-1")
df_geoplaces.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [49]:
# Creamos un diccionario con llave (placeID) y sus nombres
place_map = pd.Series(df_geoplaces.name.values, index = df_geoplaces.placeID).to_dict()
place_map

{134999: 'Kiku Cuernavaca',
 132825: 'puesto de tacos',
 135106: 'El Rincón de San Francisco',
 132667: 'little pizza Emilio Portes Gil',
 132613: 'carnitas_mata',
 135040: 'Restaurant los Compadres',
 132732: 'Taqueria EL amigo ',
 132875: 'shi ro ie',
 132609: 'Pollo_Frito_Buenos_Aires',
 135082: 'la Estrella de Dimas',
 135070: 'Restaurante 75',
 135069: 'Abondance Restaurante Bar',
 135065: 'El angel Restaurante',
 135076: 'Restaurante Pueblo Bonito',
 135086: 'Mcdonalds Parque Tangamanga',
 132870: 'Tortas y hamburguesas el gordo',
 132854: 'Sirlone',
 132937: 'rockabilly ',
 132856: 'Unicols Pizza',
 132668: 'TACOS EL GUERO',
 135033: 'Restaurant El Muladar de Calzada',
 132862: 'La Posada del Virrey',
 134983: 'Restaurant and Bar and Clothesline Carlos N Charlies',
 132851: 'KFC',
 135013: 'Giovannis',
 135042: 'Restaurant Oriental Express',
 132768: 'Mariscos Tia Licha',
 132561: 'cafe ambar',
 135045: 'Restaurante la Gran Via',
 132847: 'don burguers',
 135054: 'Restaurante y Pescaderia Tampico',
 134975: 'Rincon del Bife',
 135053: 'La Fontana Pizza Restaurante and Cafe',
 135050: 'Restaurante la Estrella de Dima',
 135025: 'El Rincon de San Francisco',
 135030: 'Preambulo Wifi Zone Cafe',
 135057: 'El Herradero Restaurante and Bar',
 135079: 'Koye Sushi',
 134992: 'Restaurant Teely',
 132954: 'la parroquia',
 135041: 'Luna Cafe',
 132608: 'Hamburguesas La perica',
 135046: 'Restaurante El Reyecito',
 132564: 'churchs',
 132869: 'Dominos Pizza',
 132925: 'el pueblito',
 132955: 'emilianos',
 135059: 'Restaurant Bar Hacienda los Martinez',
 135001: 'Vips',
 135063: 'Restaurante Alhondiga',
 135080: 'los Toneles',
 135000: 'Restaurant los Pinos',
 135066: 'Restaurante Guerra',
 135034: 'Michiko Restaurant Japones',
 135060: 'Restaurante Marisco Sam',
 135055: 'la Cochinita Pibil Restaurante Yucateco',
 135108: 'Potzocalli',
 135074: 'Restaurante la Parroquia Potosina',
 135018: 'El Oceano Dorado',
 135064: 'Restaurante El Chivero S.A. de C.V.',
 135038: 'Restaurant la Chalita',
 135081: 'El Club',
 132723: 'Gordas de morales',
 135051: 'Restaurante Versalles',
 135021: 'Subway',
 135052: 'La Cantina Restaurante',
 132845: 'Cenaduria El RincÃ³n de Tlaquepaque',
 135011: 'Los Vikingos',
 132858: 'Hamburguesas Valle Dorado',
 135026: 'la Cantina',
 132884: 'dairy queen',
 135016: 'Arrachela Grill',
 135104: 'vips',
 132630: 'palomo tec',
 135047: 'Restaurante Casa de las Flores',
 132951: 'VIPS',
 132665: 'TACOS CORRECAMINOS',
 135044: 'Restaurant Wu Zhuo Yi',
 135035: 'El Mundo de la Pasta',
 135071: 'Restaurante la Cantina',
 132834: 'Gorditas Doa Gloria',
 132846: 'el lechon potosino ',
 135048: 'Restaurante Bar Fu-hao',
 132717: 'tortas hawai',
 132861: 'Carls Jr',
 132885: 'Hamburguesas saul',
 132740: 'Carreton de Flautas y Migadas',
 132830: 'Rincon Huasteco',
 132773: 'El cotorreo',
 132706: 'Gorditas Dona Tota',
 132872: 'Pizzeria Julios',
 134987: 'Chilis Cuernavaca',
 132572: 'Cafe Chaires',
 132958: 'tacos los volcanes',
 132733: 'Little Cesarz',
 132922: 'cafe punta del cielo',
 132715: 'tacos de la estacion',
 135027: 'Restaurant Orizatlan',
 132767: 'Restaurant Familiar El Chino',
 135039: 'Restaurant de Mariscos de Picon',
 134996: 'Sanborns Casa Piedra',
 132755: 'La Estrella de Dimas',
 135043: 'pizza clasica',
 132654: 'Carnitas Mata  Calle 16 de Septiembre',
 135049: 'Restaurante de Mariscos la Langosta',
 135073: 'Restaurante Bar El Gallinero',
 132560: 'puesto de gorditas',
 134976: 'Log Yin',
 135075: 'Mariscos El Pescador',
 132660: 'carnitas mata calle Emilio Portes Gil',
 132921: 'crudalia',
 132594: 'tacos de barbacoa enfrente del Tec',
 134986: 'Restaurant Las Mananitas',
 135062: 'Restaurante El Cielo Potosino',
 132766: 'Mikasa',
 135088: 'Cafeteria cenidet',
 135058: 'Restaurante Tiberius',
 132754: 'Cabana Huasteca',
 132584: 'Gorditas Dona Tota',
 135032: 'Cafeteria y Restaurant El Pacifico',
 135028: 'La Virreina',
 135085: 'Tortas Locas Hipocampo',
 132663: 'tacos abi',
 132626: 'la perica hamburguesa',
 132583: 'McDonalds Centro',
 132866: 'Chaires',
 135072: 'Sushi Itto',
 135109: 'Paniroles',
 135019: 'Restaurant Bar Coty y Pablo',
 132877: 'sirloin stockade'}

In [50]:
# Creamos un DF con los valores previamente obtenidos de las dos BD

df = pd.DataFrame({"UserID": UserID,"rating": rating})
df.head()
df.shape

(1161, 2)

In [51]:
# Agregamos el nombre del lugar que están calificando los usuarios

df["place"] = df_ratingfinal['placeID'].map(place_map)
df.head()

  UserID  rating                    place
0  U1077       2   Tortas Locas Hipocampo
1  U1077       2    Restaurant la Chalita
2  U1077       2          puesto de tacos
3  U1077       1  Restaurante Marisco Sam
4  U1068       1                     vips

In [52]:
#Matriz de utilidad
matriz = df.pivot_table(values='rating', index='UserID', columns='place', fill_value=0)
print('Tamaño de la matriz de utilidad:', matriz.shape)
print('número de filas:',matriz.shape[0])
print('número de columnas:',matriz.shape[1])

Tamaño de la matriz de utilidad: (138, 129)
número de filas: 138
número de columnas: 129

In [53]:
matriz.head(10)

place,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
UserID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
print('Total de elementos de la matriz de utilidad: %d' % (matriz.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(matriz)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(matriz) / matriz.size))

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 907
Porcentaje de elementos diferentes de cero: 5.1%

#**Ejercicio-2.**

In [55]:
#Transpuesta de la matriz de utilidad
#Para obtener la información latente en relación a los lugares de comida
matrizT = matriz.T
print('Tamaño de la matriz de utilidad:', matriz.shape)
print('número de filas:',matrizT.shape[0])
print('número de columnas:',matrizT.shape[1])

Tamaño de la matriz de utilidad: (138, 129)
número de filas: 129
número de columnas: 138

In [56]:
matrizT.head()

UserID,U1001,U1002,U1003,U1004,U1005,U1006,U1007,U1008,U1009,U1010,...,U1129,U1130,U1131,U1132,U1133,U1134,U1135,U1136,U1137,U1138
place,,,,,,,,,,,,,,,,,,,,,
Abondance Restaurante Bar,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Arrachela Grill,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cabana Huasteca,0,0,2,0,0,0,0,0,1,0,...,0,0,0,0,0,2,0,0,0,0
Cafe Chaires,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cafeteria cenidet,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#El número de componentes debe ser menor que el número de características
SVD = TruncatedSVD(n_components=matrizT.shape[1]-1, random_state=0)  
SVD.fit(matrizT)

num_sv = len(SVD.singular_values_)

print('Cantidad de información simplificada con los %d vectores singulares obtenidos:' % num_sv)
print('%.1f%%' %  (100 * (1- (SVD.singular_values_[0:num_sv]).sum() / (SVD.singular_values_).sum())))

Cantidad de información simplificada con los 26 vectores singulares obtenidos:
0.0%

#**Ejercicio-3.**

In [ ]:
#Usando la métrica de correlación de Pearon, obtener las 10 mejores recomendaciones de este 
#modelo no supervisado con base a la información de alguien que evaluó bien de manera general al 
#“Subway”. Despliega también el valor numérico de la correlación de Pearson de cada una de estas 10 
#recomendaciones. NOTA: No debe estar incluido “Subway” dentro de las recomendaciones. 
print('Correlación Pearson: ', matriz.corr( method='pearson'))

Correlación Pearson:  name                                Abondance Restaurante Bar  \
name
Abondance Restaurante Bar                            1.000000
Arrachela Grill                                     -0.038462
Cabana Huasteca                                     -0.038462
Cafe Chaires                                        -0.038462
Cafeteria cenidet                                   -0.038462
...                                                       ...
tacos de barbacoa enfrente del Tec                  -0.038462
tacos de la estacion                                -0.038462
tacos los volcanes                                  -0.038462
tortas hawai                                        -0.038462
vips                                                -0.038462

name                                Arrachela Grill  Cabana Huasteca  \
name
Abondance Restaurante Bar                 -0.038462        -0.038462
Arrachela Grill                            1.000000        -0.038462
Cabana Huasteca                           -0.038462         1.000000
Cafe Chaires                              -0.038462        -0.038462
Cafeteria cenidet                         -0.038462         1.000000
...                                             ...              ...
tacos de barbacoa enfrente del Tec        -0.038462        -0.038462
tacos de la estacion                      -0.038462        -0.038462
tacos los volcanes                        -0.038462        -0.038462
tortas hawai                              -0.038462        -0.038462
vips                                       1.000000        -0.038462

name                                Cafe Chaires  Cafeteria cenidet  \
name
Abondance Restaurante Bar              -0.038462          -0.038462
Arrachela Grill                        -0.038462          -0.038462
Cabana Huasteca                        -0.038462           1.000000
Cafe Chaires                            1.000000          -0.038462
Cafeteria cenidet                      -0.038462           1.000000
...                                          ...                ...
tacos de barbacoa enfrente del Tec     -0.038462          -0.038462
tacos de la estacion                   -0.038462          -0.038462
tacos los volcanes                      1.000000          -0.038462
tortas hawai                           -0.038462          -0.038462
vips                                   -0.038462          -0.038462

name                                Cafeteria y Restaurant El Pacifico  \
name
Abondance Restaurante Bar                                    -0.038462
Arrachela Grill                                              -0.038462
Cabana Huasteca                                               1.000000
Cafe Chaires                                                 -0.038462
Cafeteria cenidet                                             1.000000
...                                                                ...
tacos de barbacoa enfrente del Tec                           -0.038462
tacos de la estacion                                         -0.038462
tacos los volcanes                                           -0.038462
tortas hawai                                                 -0.038462
vips                                                         -0.038462

name                                Carls Jr  \
name
Abondance Restaurante Bar          -0.038462
Arrachela Grill                    -0.038462
Cabana Huasteca                    -0.038462
Cafe Chaires                        1.000000
Cafeteria cenidet                  -0.038462
...                                      ...
tacos de barbacoa enfrente del Tec -0.038462
tacos de la estacion               -0.038462
tacos los volcanes                  1.000000
tortas hawai                       -0.038462
vips                               -0.038462

name                                Carnitas Mata  Calle 16 de Septiembre  \
name
Abondance Restaurante Bar                                       -0.038462
Arrachela Grill                                                 -0.038462
Cabana Huasteca                                                 -0.038462
Cafe Chaires                                                    -0.038462
Cafeteria cenidet                                               -0.038462
...                                                                   ...
tacos de barbacoa enfrente del Tec                              -0.038462
tacos de la estacion                                            -0.038462
tacos los volcanes                                              -0.038462
tortas hawai                                                    -0.038462
vips                                                            -0.038462

name                                Carreton de Flautas y Migadas  \
name
Abondance Restaurante Bar                               -0.038462
Arrachela Grill                                         -0.038462
Cabana Huasteca                                         -0.038462
Cafe Chaires                                            -0.038462
Cafeteria cenidet                                       -0.038462
...                                                           ...
tacos de barbacoa enfrente del Tec                      -0.038462
tacos de la estacion                                    -0.038462
tacos los volcanes                                      -0.038462
tortas hawai                                            -0.038462
vips                                                    -0.038462

name                                Cenaduria El RincÃ³n de Tlaquepaque  ...  \
name                                                                     ...
Abondance Restaurante Bar                                     -0.038462  ...
Arrachela Grill                                                1.000000  ...
Cabana Huasteca                                               -0.038462  ...
Cafe Chaires                                                  -0.038462  ...
Cafeteria cenidet                                             -0.038462  ...
...                                                                 ...  ...
tacos de barbacoa enfrente del Tec                            -0.038462  ...
tacos de la estacion                                          -0.038462  ...
tacos los volcanes                                            -0.038462  ...
tortas hawai                                                  -0.038462  ...
vips                                                           1.000000  ...

name                                puesto de tacos  rockabilly   shi ro ie  \
name
Abondance Restaurante Bar                 -0.038462    -0.038462  -0.038462
Arrachela Grill                           -0.038462    -0.038462  -0.038462
Cabana Huasteca                           -0.038462    -0.038462  -0.038462
Cafe Chaires                              -0.038462    -0.038462  -0.038462
Cafeteria cenidet                         -0.038462    -0.038462  -0.038462
...                                             ...          ...        ...
tacos de barbacoa enfrente del Tec        -0.038462    -0.038462  -0.038462
tacos de la estacion                      -0.038462    -0.038462  -0.038462
tacos los volcanes                        -0.038462    -0.038462  -0.038462
tortas hawai                              -0.038462    -0.038462  -0.038462
vips                                      -0.038462    -0.038462  -0.038462

name                                sirloin stockade  tacos abi  \
name
Abondance Restaurante Bar                  -0.038462  -0.038462
Arrachela Grill                            -0.038462  -0.038462
Cabana Huasteca                            -0.038462  -0.038462
Cafe Chaires                               -0.038462  -0.038462
Cafeteria cenidet                          -0.038462  -0.038462
...                                              ...        ...
tacos de barbacoa enfrente del Tec         -0.038462  -0.038462
tacos de la estacion                       -0.038462  -0.038462
tacos los volcanes                         -0.038462  -0.038462
tortas hawai                               -0.038462  -0.038462
vips                                       -0.038462  -0.038462

name                                tacos de barbacoa enfrente del Tec  \
name
Abondance Restaurante Bar                                    -0.038462
Arrachela Grill                                              -0.038462
Cabana Huasteca                                              -0.038462
Cafe Chaires                                                 -0.038462
Cafeteria cenidet                                            -0.038462
...                                                                ...
tacos de barbacoa enfrente del Tec                            1.000000
tacos de la estacion                                         -0.038462
tacos los volcanes                                           -0.038462
tortas hawai                                                 -0.038462
vips                                                         -0.038462

name                                tacos de la estacion  tacos los volcanes  \
name
Abondance Restaurante Bar                      -0.038462           -0.038462
Arrachela Grill                                -0.038462           -0.038462
Cabana Huasteca                                -0.038462           -0.038462
Cafe Chaires                                   -0.038462            1.000000
Cafeteria cenidet                              -0.038462           -0.038462
...                                                  ...                 ...
tacos de barbacoa enfrente del Tec             -0.038462           -0.038462
tacos de la estacion                            1.000000           -0.038462
tacos los volcanes                             -0.038462            1.000000
tortas hawai                                   -0.038462           -0.038462
vips                                           -0.038462           -0.038462

name                                tortas hawai      vips
name
Abondance Restaurante Bar              -0.038462 -0.038462
Arrachela Grill                        -0.038462  1.000000
Cabana Huasteca                        -0.038462 -0.038462
Cafe Chaires                           -0.038462 -0.038462
Cafeteria cenidet                      -0.038462 -0.038462
...                                          ...       ...
tacos de barbacoa enfrente del Tec     -0.038462 -0.038462
tacos de la estacion                   -0.038462 -0.038462
tacos los volcanes                     -0.038462 -0.038462
tortas hawai                            1.000000 -0.038462
vips                                   -0.038462  1.000000

[129 rows x 129 columns]

#**Ejercicio-4.**

In [ ]:
None

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

#**Ejercicio-7.**

In [ ]:
None

#**Ejercicio-8.**

In [ ]:
None

###**Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**